<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HN Simulator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .fancy-quote {
        font-family: 'Times New Roman',Times, 'Nimbus Roman No9 L', 'Liberation Serif', serif, georgia;
      }
    </style>
  </head>
  <body class="bg-gradient-to-bl from-{{color1}}-400 to-{{color2}}-500 text-white text-center h-screen mx-8 lg:mx-32 flex place-content-center">
    <section class="flex flex-col place-content-center space-y-8">
       <h1 id="title" class="italic flex justify-center space-x-2">
         <span class="text-6xl fancy-quote">“</span>
         <span id="hn_title" class="text-4xl" style="line-height: inherit !important;">
           {{hn_title}}
         </span>
         <span class="text-6xl fancy-quote">”</span>
       </h1>

       <span id="copy_content" onclick="navigator.clipboard.writeText(`“${document.querySelector('#hn_title').innerText}”`).then(function() {document.querySelector('#copy-tooltip').innerText = 'Copied!';});">
         <button type="button" class="m-4 justify-center" data-tooltip-target="copy-tooltip" data-tooltip-trigger="hover">
           <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
             <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
           </svg>
         </button>

         <div id="copy-tooltip" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
             Copy
           <div class="tooltip-arrow" data-popper-arrow></div>
         </div>
        </span>
    </section>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
  </body>
</html>
